# Airflow
AIRFLOW_UID=50000

_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=change_me

# Optional packages
_PIP_ADDITIONAL_REQUIREMENTS=tenacity

# Generate using:
# python3 -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
FERNET_KEY=YOUR_FERNET_KEY_HERE

# Example only
AIRFLOW__API_AUTH__JWT_SECRET=change_me
AIRFLOW__API_AUTH__JWT_ISSUER=airflow