# Environment
.env
.env.*

# Python
venv/
.venv/
**/.venv/
__pycache__/
*.py[cod]
*$py.class

# Airflow
logs/
airflow.db
airflow.cfg
airflow-webserver.pid
airflow-webserver.err
airflow-webserver.out

# Generated Data
data/output/
data/failed/

# Ignore generated chunks
data/output/*.csv
data/failed/*.csv

# Keep sample input
!data/input/
!data/input/vehicle_data.csv

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db